html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(114, 113, 113);
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.category-btn:hover {
  background-color: #FC1503 !important;
  color: white !important;
}

.category-btn:hover span{
  color: white !important;
}

.react-player {
  height: 65vh !important;
  width: 100% !important;
}

.search-bar{
  border:none;
  outline:none;
  width:350px;
}

.category-btn{
  font-weight: bold !important;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor:pointer;
  background: transparent;
  outline: none;
  border: none;

  padding: 7px 15px;
  margin: 10px 0px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 900px) {
  .category-btn{
    margin: 10px;
  }
}

@media screen and (max-width:900px){
  .copyright{
    display:none !important;
  }
}

@media screen and (max-width: 600px) {
  .scroll-horizontal {
    overflow: auto !important;
  }

  .react-player {
    height: 45vh !important;
  }
  .search-bar{
    width:200px;
  }
}

.dark{
  background-color: #000;
  color: #fff !important;
}

.light{
  background-color: #fff;
  color: #000;
}

.sidebar{
  width: auto;
}

@media (min-width: 0px) {
  .sidebar.active {
    width: auto;
  }
}
@media (min-width: 900px) {
  .sidebar.active {
    width: 3.3rem;
  }
}
@media (min-width: 900px) {
  .sidebar.activeV2 {
    width:0;
    padding: 0;
  }
}

.burgerContainer{
  content: "";
  background-color: transparent;
  width: 35px;
  height: 35px;
  border-radius: 2em;
  z-index: 1 ;
}

/* give the functionality */
.burgerTrigger{
content: "";
width: 35px;
height: 35px;
background-color: #FC1503;
cursor: pointer;
z-index: 6;
opacity: 0;
position: relative;
}
.burguerMenu{
content: "";
background-color: #fff;
position: relative;
z-index: 1;
width: 20px;
height: 3px;
border-radius: 2rem;
bottom: calc(35px/2);
left: 0.45rem;
}
.light .burguerMenu{
  background-color: #000;

  }
.burguerMenu::after{
  content: "";
  background-color: #fff;
  position: absolute;
  width: 20px;
  height: 3px;
  border-radius: 2rem;
  top: 0.4rem;
}
.light .burguerMenu::after{
  background-color: #000;
}
.burguerMenu::before{
  content: "";
  background-color: #fff;
  position: absolute;
  width: 20px;
  height: 3px;
  border-radius: 2rem;
  top: -0.4rem;

}
.light .burguerMenu::before{
  background-color:#000;

}